body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p, h1, h2, h3, h4, h5 {
  margin: 5px;
  text-align: start;
}

 nav {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  background: lightgrey;
}

.nav-links {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  font-weight: bold;
}

.coursepage-container {
  display: flex;
}

.course-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.course-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-input {
  font-size: 15px;
  height: 30px;
  width: 90%;
  margin: 10px;
  padding-left: 5px;
}

.courselist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-container {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.course-details-wrapper {
  display: flex;
  justify-content: center;
}

.course-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.description {
  font-weight: bold;
}

.textarea-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 90%;
  height: 200px;
  margin: 10px;
  resize: none;
  font-size: 15px;
  padding-left: 5px;
}

.medium-button {
  width: 150px;
  height: 30px;
  font-size: 15px;
  background: rgb(155, 154, 154);
  color: white;
}

.medium-button:hover {
  background: rgb(83, 83, 83);
}

.sign-out-button {
  margin: 0;
}

.course-button {
  width: 300px;
  margin-bottom: 5px;
  padding: 5px 0 5px 0;
}

.delete-button:hover {
  background: red;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
}

.user-container {
  margin-left: 20px;
}

.user-list-header-container {
  display: flex;
}

.list-item {
  display: flex;
}

.user-detail {
  min-width: 200px;
}

#long {
  width: 320px;
}

#short {
  width: 100px;
}